<h1>Reports</h1>
{{link-to 'Create report' 'reports.new' }}
<table class="mt3 fit">
  <thead class="p1 p2">
    <tr>
      <th>Id</th>
      <th>Submitter</th>
      <th>is valid?</th>
    </tr>
  </thead>
  <tbody class="p1 p3">

  {{#each model as |report|}}

    <tr>
      <td>{{link-to report.id 'reports.show' report }}</td>
      <td>{{ report.submitterId }}</td>
      <td>
      {{#if report.valid }}
        {{fa-icon "check"}}
      {{else}}
        {{fa-icon "remove"}}
      {{/if}}
      </td>
    </tr>

  {{/each}}

  </tbody>
</table>