<h1>New report</h1>

{{#each model.errors.messages as |message|}}
  <div class="alert alert-danger" role="alert">
    {{message}}
  </div>
{{/each}}

<form {{ action "save" on="submit" }}>
  <div class="form-group">
    <label for="reportInput">Input</label>

    {{input value=model.input
            placeholder="Input"
            required=true
            type="number"
            min="1"
            id="reportInput"
            class="form-control"}}
  </div>

  <div class="form-group">
    <label for="reportOutput">Output</label>

    {{input value=model.output
            placeholder="Output"
            required=true
            id="reportOutput"
            class="form-control"}}
  </div>

  <div class="form-group">
    <label for="submitterId">Submitter</label>

    {{input value=model.submitterId
            placeholder="SubmitterId"
            required=true
            class="form-control"}}
  </div>

  <div class="form-group">
    <label for="reportDate">Date</label>

    {{bootstrap-datepicker
      placeholder="Choose date"
      todayHighlight=true
      autoclose=true
      class="form-control"
      endDate=now
      value=model.createdOn}}
  </div>


  <button type="submit"
          class="btn btn-primary">
    Save
  </button>
</form>

