<h1>Show Report</h1>
<ul>
  <li>SubmitterId: {{ model.submitterId }}</li>
  <li>Input (hours): {{ model.input }}</li>
  <li>Output: {{ model.output }}</li>
  <li>Date {{ model.createdOn }}</li>
  <li>isValid: {{ model.valid }}</li>
  <li>published: {{ model.published }}</li>
</ul>

{{#if model.published}}
{{else}}
  {{#if web3Present}}
    <form {{ action "publish" on="submit" }}>
      <button type="submit" class="btn btn-primary">Publish</button>
    </form>
  {{else}}
    <div class="alert alert-danger" role="alert">
      Please enable MetaMask
    </div>
  {{/if}}
{{/if}}

{{#if model.verifications}}
  <h3>Verified by</h3>
  <ul>
    {{#each model.verifications as |verifier|}}
      <li>{{ verifier.id }}</li>
    {{/each}}
  </ul>
{{/if}}

{{#if canVerify}}
  {{ link-to "Add verification" "verifications.new" tagName='button' class='btn btn-primary' }}
{{/if}}

{{ outlet }}