<ul>
  <li>Id: {{ model.id }}</li>
  <li>SubmitterId: {{ model.submitterId }}</li>
  <li>isValid: {{ model.isValid }}</li>
</ul>
<p>{{ link-to "Add verification" "verifications.new" }}</p>

{{ outlet }}